* {
  line-height: 1.5;
  padding: 1%;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
  font-size: 1rem;
}

.instructions {
  background-color: #55adc9;
  color: white;
  font-weight: bold;
  padding: 1%;
  margin: 0 auto;
}

.instructions a {
  color: white;
  text-decoration: underline;
}

.instructions a:hover {
  color: #1B3740;
}

.col select {
  display: block;
  margin: 0 auto;
}

select {
  min-width: 80%;
  font-weight: bold;
}

div.header.row {
  background-color: #55adc9;
  color: white;
  margin-left: 0;
  margin-right: 0;
}

#print_button {
  background-color: #25ab10;
  border: 0;
}

#print_button:hover {
  background-color: white;
  color: #25ab10;
  border: 1.5px solid #25ab10;
}

#cancel_button {
  background-color: red;
  border: 0;
}

#cancel_button:hover {
  background-color: white;
  color: red;
  border: 1.5px solid red;
}

#next {
  float: right;
  background-color: #25ab10;
  border: 0;
}

#next:hover {
  background-color: white;
  color: #25ab10;
  border: 1.5px solid #25ab10;
}

label {
  min-width: 100%;
}

input.radio {
  margin-right: 2%;
}

@media screen and (max-width: 525px) {
  h5 {
    text-align: center;
  }
}

div#buttons.row {
  display: flex;
  justify-content: space-around;
}